
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(imagen/gif.gif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

h1.titulo{
    width: 110%;
    padding: 20px 0 20px 0;
    margin: 0;
    background-color: rgb(110, 11, 11);
    color: azure;
    text-align: center;
}
.imagen{
    height: 60%;
    max-height: 300px;
    margin: 0 auto;
    object-fit: contain; 
    display: block;
    padding: 10px 0;
    margin-top: 10px;
    max-height: 350px;
    filter:drop-shadow(0px -10px 10px yellow);
}
.imagen:hover{
    height: 60%;
    max-height: 300px;
    margin: 0 auto;
    object-fit: contain; 
    display: block;
    padding: 10px 0;
    margin-top: 10px;
    max-height: 350px;
    filter:drop-shadow(0px -10px 10px black);
}
h1.nombre{
    font-family:"Mirza", serif;
    font-weight: 600;
    font-style: normal;
    color: #00189e;
    margin: 0 10px;
    font-size: var(--letra);
    filter: drop-shadow(2px 2px 2px white);
}

div{
    display: inline-block;
    width: 300px;
    height: 500px;
    padding: 5px;
    background: rgba(194, 194, 194, 0.425);
    border-radius: 20px;
    box-shadow:1px 1px 10px rgb(0, 0, 0);
    margin: 20px;
    text-align: center;
    place-content: center;
    background-size: cover;
}

div:hover{
    display: inline-block;
    width: 300px;
    height: 500px;
    background: hsla(0, 0%, 100%, 0.596);
    border-radius: 20px;
    box-shadow:0 0 4px #000000;
    margin: 20px;
    text-align: center;
    color: #000000;
    filter:drop-shadow(0px -10px 10px red);
}


section{

    text-align: center;
}

p{
    text-align: left;
    margin: 20px;
    font-weight: bold;
    filter: drop-shadow(1px 0px 2px #ffffff);
}
