
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imagen/gif.gif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

h1.titulo{
    width: 110%;
    padding: 20px 0 20px 0;
    margin: 0;
    background-color: rgb(110, 11, 11);
    color: azure;
    text-align: center;
}
.imagen{
    width: 100%;
    max-height: 300px;
    margin: 0 auto;
    object-fit: contain; 
    display: block;
    padding: 10px 0 75px;
    margin-top: 10px;
    max-height: 350px;
    filter:drop-shadow(0px 0px 5px #fff82d);
}

h1.nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00189e;
    margin: 0 10px;
    font-size: 1.4rem;
    filter: drop-shadow(2px 2px 2px #f2ff00);
}

div{
    display: inline-block;
    width: 18%;
    height: 37%;
    background: rgba(255, 255, 255, 0.474);
    border-radius: 20px;
    box-shadow:0 0 4px #4a4a4a;
    margin: 20px;
    text-align: center;
    place-content: center;
    background-size: cover;
}

div:hover{
    display: inline-block;
    width: 18%;
    height: 37%;
    background: #faf9ffdb;
    border-radius: 20px;
    box-shadow:0 0 4px #000000;
    margin: 20px;
    text-align: center;
    color: #000000;
}

section{
    width: 100%;
    display: block;
    margin: 0 auto;
    place-content: center;
    background-size: cover;
    text-align: center;
}

p{
    text-align: left;
    margin: 20px;
    filter: drop-shadow(1px 0px 2px #ffffff);
}
