
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imagen/gif.gif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

h1.titulo{
    width: 110%;
    padding: 20px 0 20px 0;
    margin: 0;
    background-color: rgb(110, 11, 11);
    color: azure;
    text-align: center;
}
.imagen{
    height: 60%;
    max-height: 300px;
    margin: 0 auto;
    object-fit: contain; 
    display: block;
    padding: 10px 0;
    margin-top: 10px;
    max-height: 350px;
    filter:drop-shadow(0px 0px 5px #fff82d);
}

h1.nombre{
    font-family:"Mirza", serif;
    font-weight: 600;
    font-style: normal;
    color: #00189e;
    margin: 0 10px;
    font-size: 2rem;
    filter: drop-shadow(2px 2px 2px #f2ff00);
}

div{
    display: inline-block;
    width: 300px;
    height: 500px;
    background: rgba(255, 255, 255, 0.474);
    border-radius: 20px;
    box-shadow:0 0 4px #4a4a4a;
    margin: 20px;
    text-align: center;
    place-content: center;
    background-size: cover;
}

div:hover{
    display: inline-block;
    width: 300px;
    height: 500px;
    background: #faf9ffdb;
    border-radius: 20px;
    box-shadow:0 0 4px #000000;
    margin: 20px;
    text-align: center;
    color: #000000;
}

section{

    text-align: center;
}

p{
    text-align: left;
    margin: 20px;
    filter: drop-shadow(1px 0px 2px #ffffff);
}
